{% extends 'base.html'%}
{% import 'macros.html' as macro %}



{% block content %}
<div class="jumbotron text-center">
    <button class="btn"><a href="/post">post new blog</a></button>
    <form action="">
        <label for="subs">subscribe to our notification emails</label><br>
        <input type="text" class="form-control" name="subs" placeholder="Enter your email...">
        <button type="submit" class="btn btn-default">subscribe</button>
    </form>
</div>
<div class="container">
    {{ macro.display(posts) }}
</div>

{% endblock %}

