<style>
    
    ul li {
        
        display: inline;
        text-align: center;
        padding: 10px;
        
    }
</style>
<div class="nav">
    <div class="name">vector blog</div>
    <div class="navi">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <button class="btn btn-info"><a href="#">login</a></button>
            </li>
        </ul>
    </div>
</div>