<style>
    ul li{
        display: inline;
        padding: 10px;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">vector blog</a>
      </div>
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        {% if current_user.is_authenticated %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{current_user.username}}
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
              <li><a href="{{url_for('auth.logout')}}">Log out</a></li>
              
            </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-danger" href="{{url_for('auth.login')}}">Log in</a>
        </li>  
        {%endif%}
      </ul>
    </div>
  </nav>


